Package: libauparse-dev
Source: audit
Version: 1:2.8.4-3
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 3680
Depends: libauparse0 (= 1:2.8.4-3)
Breaks: libaudit-dev (<< 1:2.2.1-2)
Replaces: libaudit-dev (<< 1:2.2.1-2)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Header files and static library for the libauparse0 library
 The audit-libs parse package contains the dynamic libraries needed for
 applications to use the audit framework. It is used to monitor systems for
 security related events.
