Package: libauparse0
Source: audit
Version: 1:2.8.4-3
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 453
Depends: libaudit1 (>= 1:2.8.4-3), libc6 (>= 2.8)
Breaks: libaudit0, libaudit1 (<< 1:2.2.1-2)
Replaces: libaudit0, libaudit1 (<< 1:2.2.1-2)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Dynamic library for parsing security auditing
 The libauparse package contains the dynamic libraries needed for
 applications to use the audit framework. It is used to monitor systems for
 security related events.
 .
 This package contains the libauparse0 library.
