Package: python-audit
Source: audit
Version: 1:2.8.4-3
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 792
Depends: python (<< 2.8), python (>= 2.7~), python:any (<< 2.8), python:any (>= 2.7~), libaudit1 (>= 1:2.8.4-3), libauparse0 (>= 1:2.8), libc6 (>= 2.14)
Provides: python2.7-audit
Section: python
Priority: optional
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Python bindings for security auditing
 The package contains the Python bindings for libaudit and libauparse, which
 are used to monitor systems for security related events. Python can be used to
 parse and process the security event messages.
