Package: golang-redhat-audit-dev
Source: audit
Version: 1:2.8.4-3
Architecture: all
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 33
Section: devel
Priority: optional
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Go client bindings for the libaudit library
 The package contains the Go bindings to libaudit that only allows for logging
 audit events.
 .
 This package contains the source.
