Package: python3-audit
Source: audit
Version: 1:2.8.4-3
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 747
Depends: python3 (<< 3.8), python3 (>= 3.7~), python3:any, libaudit1 (>= 1:2.8.4-3), libauparse0 (>= 1:2.8), libc6 (>= 2.14)
Provides: python3.7-audit
Section: python
Priority: optional
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Python3 bindings for security auditing
 The package contains the Python3 bindings for libaudit and libauparse, which
 are used to monitor systems for security related events. Python can be used to
 parse and process the security event messages.
