Package: libaudit-dev
Source: audit
Version: 1:2.8.4-3
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 2113
Depends: libaudit1 (= 1:2.8.4-3), libcap-ng-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Header files and static library for security auditing
 The audit-libs-devel package contains the static libraries and header
 files needed for developing applications that need to use the audit
 framework libraries.
