Package: libaudit1-dbgsym
Source: audit
Version: 1:2.8.4-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 72
Depends: libaudit1 (= 1:2.8.4-3)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libaudit1
Build-Ids: fbbc5e13e9d6a4a1ae2957ded89ebecb437d066d
