Package: audispd-plugins
Source: audit
Version: 1:2.8.4-3
Architecture: amd64
Maintainer: Laurent Bigonville <bigon@debian.org>
Installed-Size: 521
Depends: auditd, libauparse0 (>= 1:2.5.1), libc6 (>= 2.15), libcap-ng0 (>= 0.7.9), libgssapi-krb5-2 (>= 1.14+dfsg), libkrb5-3 (>= 1.6.dfsg.2), libldap-2.4-2 (>= 2.4.7), libprelude23 (>= 4.1)
Section: admin
Priority: optional
Homepage: https://people.redhat.com/sgrubb/audit/
Description: Plugins for the audit event dispatcher
 The audispd-plugins package provides plugins for the real-time
 interface to the audit system, audispd. These plugins can do things
 like relay events to remote machines or analyze events for suspicious
 behavior.
